<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs'); %>

  <body>
    <div
      class="container d-flex flex-column justify-content-center align-items-center vh-100"
    >
      <h1>404: Not Found</h1>
      <p>Halaman yang Anda cari tidak ditemukan.</p>
    </div>
    <%- include('./partials/footer.ejs'); %>
  </body>
</html>
