<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs'); %>
  <body>
    <%- include('./partials/navbar.ejs'); %>
    <main
      class="container-fluid d-flex flex-column justify-content-center align-items-center vh-100"
    >
      <h1>Welcome</h1>
      <div class="d-flex gap-2">
        <a class="btn btn-primary" href="/login">Login</a>
        <a class="btn btn-outline-primary" href="/register">Register</a>
      </div>
    </main>
    <%- include('./partials/footer.ejs'); %>
  </body>
</html>
