<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs'); %>

  <body>
    <div
      class="container d-flex justify-content-center align-items-center vh-100"
    >
      <h1>Anda tidak bisa masuk kesini</h1>
    </div>
    <%- include('./partials/footer.ejs'); %>
  </body>
</html>
