<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs'); %>

  <body>
    <%= error %> <%- include('./partials/navbar.ejs'); %>
    <div
      class="container d-flex justify-content-center align-items-center vh-100"
    >
      <div class="card p-4" style="width: 24rem">
        <div class="card-body">
          <h1 class="text-center mb-5">Login</h1>
          <p>Silahkan login untuk memulai</p>
          <form method="post" action="/login" id="login-form">
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input
                type="email"
                name="username"
                class="form-control"
                id="email"
                placeholder="Email anda"
              />
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input
                type="password"
                name="password"
                class="form-control"
                id="password"
                placeholder="password anda"
              />
            </div>
            <button class="btn btn-primary w-100 mb-4" type="submit">
              submit
            </button>
          </form>
          <p>Belum punya akun? <a href="/register">Register</a></p>
        </div>
      </div>
    </div>
    <%- include('./partials/footer.ejs'); %>
  </body>
</html>
