<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs'); %>

  <body>
    <%- include('./partials/navbar.ejs'); %>
    <div
      class="container d-flex justify-content-center align-items-center vh-100"
    >
      <div class="card p-4" style="width: 24rem">
        <div class="card-body">
          <h1 class="text-center mb-5">Register</h1>
          <form method="post" action="/register" id="register-form">
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input
                type="email"
                name="email"
                class="form-control"
                id="email"
                placeholder="Email anda"
                required
              />
            </div>
            <div class="mb-3">
              <label for="name" class="form-label">Nama</label>
              <input
                type="name"
                name="name"
                class="form-control"
                id="name"
                placeholder="Nama anda"
                required
              />
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input
                type="password"
                name="password"
                class="form-control"
                id="password"
                placeholder="password anda"
                required
              />
            </div>
            <div class="mb-3">
              <label for="address" class="form-label">Alamat</label>
              <textarea
                class="form-control"
                id="address"
                name="address"
                rows="3"
                required
              ></textarea>
            </div>
            <button class="btn btn-primary w-100 mb-4" type="submit">
              submit
            </button>
          </form>
          <p>Sudah punya akun? <a href="/login">Login</a></p>
        </div>
      </div>
    </div>
    <%- include('./partials/footer.ejs'); %>
  </body>
</html>
