<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs'); %>

  <body>
    <%- include('./partials/navbar.ejs'); %>
    <div class="container p-4 d-flex gap-3 align-items-start mt-5">
      <div class="card p-4 border-0 shadow">
        <div class="card-body text-center">
          <h6><%= user.email %></h6>
          <p class="badge bg-info text-dark rounded-pill mb-0">
            <%= user.role %>
          </p>
        </div>
      </div>
      <div class="card p-4 border-0 shadow flex-grow-1">
        <div class="card-body">
          <form class="float-end" action="/logout" method="post">
            <input class="btn btn-danger" type="submit" value="Logout" />
          </form>
          <h5 class="card-title">Detail Profil</h5>
          <table class="table table-borderless">
            <tr>
              <th>Nama</th>
              <td><%= user.name %></td>
            </tr>
            <tr>
              <th>Email</th>
              <td><%= user.email %></td>
            </tr>
            <tr>
              <th>Alamat</th>
              <td><%= user.address %></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <%- include('./partials/footer.ejs'); %>
  </body>
</html>
